@model PermissionManagement.MVC.Models.Flight

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeTakeOff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeTakeOff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeLanding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeLanding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaneType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaneId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PilotName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PilotName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassengerCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessClassCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessClassCapacity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FlightId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
